{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #92caeb;
}

.contenedor {
    width: 80%;
    height: 500px;
    margin: 50px auto;
    border: 3px solid #244b74;
    background-color: #f8fbff;
    position: relative;
}

.tarjeta {
    width: 400px;
    height: 300px;
    border: 3px solid #0c2333;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foto {
    width: 100px;
    height: 100px;
    border: 3px solid #0b9bfb;
    position: absolute;
    top: 20px;
    right: 20px;
    overflow: hidden;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    text-align: center;
    margin-top: 145px;
    color: #244b74;
    font-size: 30px;
}

.datos {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.datos p {
    margin: 0;
    color: #315f7d;
    font-size: 18px;
    font-weight: bold;
}